# Created by .ignore support plugin (hsz.mobi)
!/AddressTable.ini
.idea/.gitignore
.idea/CV-API-PlatForm.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
PyzmqClientSide/CVClient/__pycache__/
PyzmqServerSide/CVServer/__pycache__/
AddressTable.ini
Utils/__pycache__/
/PyzmqServerSide/CVServer/modelFile/
